<section dropdown="dropdown" is-open="status.isopenMenu" auto-close="outsideClick" class="left-menu clearfix dropdown-menu"><div class="left-menu__top-side"><div class="top-side__user"><div ng-bind="meData.firstname" class="user__name"></div><div img-liquid="" ui-sref="#" class="user__photo"><a><img ng-src="{{meData.userpic}}" alt="" style="width:100%"/></a></div></div><ul class="top-side__menu"><!--<li>
<div class="menu__title">{{'Сообщения' | translate}}</div>
<div class="menu__icon color1">
<i class="fa fa-envelope"></i>
</div>
</li>--><li ui-sref="news"><div class="menu__title">События</div><div class="menu__icon color2"><i class="fa fa-globe"></i></div></li><li ui-sref="videos"><div class="menu__title">Видео</div><div class="menu__icon color3"><i class="fa fa-video-camera"></i></div></li><li ui-sref="photos"><div class="menu__title">Фото</div><div class="menu__icon color4"><i class="fa fa-camera"></i></div></li><li ui-sref="jobs"><div class="menu__title">Работа</div><div class="menu__icon color5"><i class="fa fa-briefcase"></i></div></li><!--<li>
<div class="menu__title">{{'Уроки' | translate}}</div>
<div class="menu__icon color6">
<i class="fa fa-desktop"></i>
</div>
</li>
<li>
<div class="menu__title">{{'Реклама' | translate}}</div>
<div class="menu__icon color7">
<i class="fa fa-line-chart"></i>
</div>
</li>
<li>
<div class="menu__title">{{'Конкурсы' | translate}}</div>
<div class="menu__icon color8">
<i class="fa fa-trophy"></i>
</div>
</li>
<li>
<div class="menu__title">{{'Настройки' | translate}}</div>
<div class="menu__icon color9">
<i class="fa fa-cog"></i>
</div>
</li>--><li ui-sref="pageslist"><div class="menu__title">Общество</div><div class="menu__icon color9"><i class="fa fa-users"></i></div></li><li ng-click="logout();"><div class="menu__title">Выйти</div><div class="menu__icon color10"><i class="fa fa-power-off"></i></div></li></ul></div><div class="left-menu__bottom-side"><p>Написать нам</p><!-- <p>{{'Обзор возможностей' | translate}}</p>--><p>Помощь</p><!-- <p>{{'Условия использования' | translate}} </p>--></div></section>