div.wrapper
    section.main-section.videos-panel__tabs
        tabset
            ///////////////////////////////////////////////////////////////
            tab(heading="{{'Мои подписки'}}")
                tab-heading
                    div.news-panel__title
                        div.videos-panel__title__icon
                            img(ng-src="../img/icon-video-1.png")
                        span {{'Мои подписки'}}
                section.main-section.news-panel
                    section.main-section.post-panel(ng-repeat='post in postSubscribers')
                        div.post-panel__author-grid
                            div.post__author.clearfix
                                div.post__author__logo
                                    // условие при котором если есть автор
                                    a(data-ng-if='post.autor.id')
                                        img(ng-src='{{SERVER.IMAGES_USER}}{{post.autor.image}}')
                                    // ссылка на автора
                                    a(ui-sref="#" data-ng-if="post.author.id")
                                div.post__author__description
                                    div.post__author__name(data-ng-if="post.autor.id")
                                        a(ui-sref="#" ng-bind="post.autor.firstName + ' ' + post.autor.secondName")
                                    div.post__date(ng-bind='post.created')
                                        // удалить пост
                                    div.post__remove_btn(ng-if="post.autor.id")
                                        i.fa.fa-times.remove-image(ng-click="removePost(post.id, $index);")
                        div.post-panel__text-grid
                            h2.post_title(ng-bind="post.title")
                            p.post_text(ng-bind="post.text")
                            ul.post__photos
                                li(ng-repeat="image in post.photos" ng-click="openImage(image)")
                                    img(ng-src="{{SERVER.IMAGES_PHOTO}}{{image.src}}")
                            ul.post__videos.clearfix
                                li(ng-repeat="video in post.videos")
                                    div.user-videos__thumb(img-liquid ng-click="openVideo(video)")
                                        img(ng-src="{{SERVER.IMAGES_VIDEO}}{{video.imageSrc}}")
                                    div.photo__image-info
                                        div.image-info__name(ng-bind="video.title")
                                        div.image-info__buttons.clearfix
                                            div.image-info__like.no-select(ng-click="likeVideo($index, post)")
                                                span(ng-bind="video.likes.length")
                                                i.image-info__like-btn
                            div.post__control-btns.clearfix
                                div.control-btns__share(ng-click="sharePost(post);")
                                    span Поледиться
                                    div.share__btn
                                        span(ng-bind='post.repost.length')
                                div.control-btns__like
                                    span Круто!
                                    div.like__btn(ng-click="likePost(post);" ng-class="{'active' : post.isLiked}")
                                        span(ng-bind='post.likes.length')
                        div.post__comments
                            div.post__comments-list(ng-show="post.comments.length > 0")
                                ul
                                    li(ng-repeat="comment in post.comments").clearfix
                                        div.col-sm-1.col-reset.post__comment__image(ui-sref='#')
                                            a
                                                img(ng-src="{{SERVER.IMAGES_USER}}{{comment.userPhoto}}")
                                        div.col-sm-10.col-reset.post__comment__description
                                            div.post__comment__description-header.clearfix
                                                a(ui-href='#', ng-bind="comment.userFirstName + ' ' + comment.userSecondName").post__comment__author-name
                                                span.post__comment__published-date(ng-bind="comment.created")
                                            div.post__comment__description-footer
                                                p.post__comment__text(ng-bind="comment.text")
                                        div.col-sm-1.col-reset.post__comment__controls(ng-if="comment.userId")
                                            div.post__comment__controls_remove(ng-click="removeComment(comment._id, $index, post)")
                            div.post__create-comment
                                div.create-comment__author-image
                                form.clearfix(ng-submit="newComment(post, $index);")
                                    input(type='text',ng-model="newComment[$index].text" placeholder="Ваш комментарий" required).form-control.add-news__title_input
                                    input(type='submit' value='отправить')
                div.get-new-videos__btn(ng-click="nextSubscribersVideosPage();" ng-show="videosSubscribers.count > videosSubscribers.length")
                    span Показать больше
            ///////////////////////////////
            tab(heading='Лучшее от ТОП-пользователей')
                tab-heading
                    div.news-panel__title
                        div.videos-panel__title__icon
                            img(src="../img/icon-video-2.png")
                        span 'Лучшее от ТОП-пользователей'
                section.main-section.news-panel
                    .videos-panel__top-users(ng-repeat="post in postsTopUsers")
                        section.main-section.post-panel
                            //(ng-repeat="post in user.posts | limitTo: 1")
                            .user-videos__user-grid
                                .user-videos__user-img(ui-sref='#')
                                    img(ng-src="{{SERVER.IMAGES_USER}}{{post.autor.image}}")
                                .user-videos__user-info
                                    .user-videos__author-name(ui-sref="#" ng-bind="post.autor.firstName + ' ' + user.secondName")
                                    .user-videos__author-subscribers-count
                                        span подписчики
                                        span(ng-bind="post.repost.length")
                                .user-videos__user-subscribe_grid
                                    .user-videos__user-subscribe_btn(ng-show="!user.isFollowing" ng-click="subscribeToUser('subscribe',post.autor.id)") Подписаться
                                    .user-videos__user-subscribe_btn(ng-show="user.isFollowing" ng-click="subscribeToUser('unsubscribe',posr.autor.id)") Отписаться
                            .post-panel__author-grid
                                .post__author.clearfix
                                    .post__author__logo
                                        a(ui-sref="#" data-ng-if="!post.groupAuthor.id")
                                            img(ng-src="{{SERVER.IMAGES_USER}}{{post.autor.image}}")
                                        a(ui-sref="#" data-ng-if="post.groupAuthor.id")
                                            img(ng-src="{{SERVER.IMAGES_USER}}{{post.groupAuthor.image}}")
                                    .post__author__description
                                        .post__author__name(data-ng-if="!post.groupAuthor.id")
                                            a(ui-sref="#" ng-bind="post.author.firstName + ' ' + post.author.secondName")
                                        .post__author__name(data-ng-if="post.groupAuthor.id")
                                            a(ui-sref="#" ng-bind="post.groupAuthor.name")
                                        .post__date(ng-bind="post.created")
                            .post-panel__text-grid
                                h2.post_title(ng-bind="post.title")
                                p.post_text(ng-bind="post.text")
                                ul.post__photos
                                    li(ng-repeat="image in post.photos" responsible-images img-liquid ng-click="openImage(image)")
                                        img(ng-src="{{SERVER.IMAGES_PHOTO}}{{image.src}}")
                                ul.post__videos.clearfix
                                    li(ng-repeat="video in post.videos")
                                        .user-videos__thumb(img-liquid ng-click="openVideo(video)")
                                            img(ng-src="{{SERVER.IMAGES_VIDEO}}{{video.imageSrc}}")
                                        .photo__image-info
                                            .image-info__name(ng-bind="video.title")
                                            .image-info__buttons.clearfix
                                                .image-info__like.no-select(ng-click="likeVideo($index, post)")
                                                    span(ng-bind="video.likes.length")
                                                    i.image-info__like-btn
                                .post__control-btns.clearfix
                                    .control-btns__share(ng-click="sharePost(post);")
                                        span Поделиться
                                        .share__btn
                                            // здесь на самом деле должна быть картинка а не количество
                                            span(ng-bind="post.reposts.length")
                                    .control-btns__like
                                        span Круто!
                                        .like__btn(ng-click="likePost(post);" ng-class="{'active' : post.isLiked}")
                            .post__comments
                                .post__comments-list(ng-show="post.comments.length > 0")
                                    ul
                                        li(ng-repeat="comment in post.comments").clearfix
                                            .col-sm-1.col-reset.post__comment__image
                                                a(ui-sref="#")
                                                    img(ng-src="{{SERVER.IMAGES_PHOTO}}{{comment.userPhoto}}")
                                            .col-sm-10.col-reset.post__comment__description
                                                .post__comment__description-header.clearfix
                                                    a(ui-sref="#",ng-bind="comment.userFirstName + ' ' + comment.userSecondName").post__comment__author-name
                                                    span.post__comment__published-date(ng-bind="comment.created")
                                                .post__comment__description-footer
                                                    p.post__comment__text(ng-bind="comment.text")
                                            // удалить коментарий если это вы
                                            .col-sm-1.col-reset.post__comment__controls(ng-if="comment.id == meData._id")
                                                .post__comment__controls_remove(ng-click="removeComment(comment._id, $index, post)")
                                                    i.icon-trash
                                .post__create-comment
                                    .create-comment__author-image
                                        // фото коментатора
                                        img(ng-src="{{meData.userpic}}")
                                    form.clearfix(ng-submit="newComment($index);")
                                        input(type='text' ng-model="newComment[$index].text" placeholder='Ваш комментарий' ).form-control.add-news__title_input
                                        input(type='submit' value='Отправить')
            ///////////////////////////////////////////////////
            tab(heading='Новости danciety.com')
                tab-heading
                    div.news-panel__title
                        div.videos-panel__title__icon
                            img(src="img/icon-video-3.png")
                        span Новости danciety.com
                section.main-section.news-panel
                    section.main-section.post-panel(ng-repeat="post in postDanciety")
                        .post-panel__author-grid
                            .post__author.clearfix
                                .post__author__logo
                                    a(ui-sref="#" data-ng-if="!post.groupAuthor.id")
                                        img(ng-src="{{SERVER.IMAGES_USER}}{{post.autor.image}}")
                                    a(ui-sref='#', data-ng-if="post.groupAuthor.id")
                                        img(ng-src="{{post.groupAuthor.photo}}")
                                .post__author__description
                                    .post__author__name(data-ng-if="!post.groupAuthor.id")
                                        a(ui-sref='#' ng-bind="post.autor.firstName + ' ' + post.autor.secondName")
                                    .post__author__name(data-ng-if="post.groupAuthor.id")
                                        a(ui-sref='#',ng-bind="post.groupAuthor.name")
                                    .post__date(ng-bind="post.created")
                        .post-panel__text-grid
                            h2.post_title(ng-bind="post.title")
                            p.post_text(ng-bind="post.text")
                            ul.post__photos
                                li(ng-repeat="image in post.photos" responsible-images img-liquid ng-click="openImage(image)")
                                    img(ng-src="{{SERVER.IMAGES_PHOTO}}{{image.src}}")
                            ul.post__videos.clearfix
                                li(ng-repeat="video in post.videos")
                                    .user-videos__thumb(img-liquid ng-click="openVideo(video);")
                                        img(ng-src="{{SERVER.IMAGES_VIDEO}}{{video.imageSrc}}")
                                    .photo__image-info
                                        .image-info__name(ng-bind="video.title")
                                        .image-info__buttons.clearfix
                                            .image-info__like.no-select(ng-click="likeVideo($index, post)")
                                                span(ng-bind="video.likes.length")
                                                i.image-info__like-btn
                            .post__control-btns.clearfix
                                .control-btns__share(ng-click="sharePost(post);")
                                    span Поделиться
                                    .share__btn
                                        span(ng-bind="post.reposts.length")
                                .control-btns__like
                                    span Круто
                                    .like__btn(ng-click="likePost(post);" ng-class="{'active' : post.isLiked}")
                                        span(ng-bind="post.likes.length")
                        .post__comments
                            .post__comments-list(ng-show="post.comments.length > 0")
                                ul
                                    li(ng-repeat="comment in post.comments").clearfix
                                    .col-sm-1.col-reset.post__comment__image
                                        a(ui-sref='#')
                                            img(ng-src="{{SERVER.IMAGES_USER}}{{comment.userPhoto}}")
                                    .col-sm-10.col-reset.post__comment__description
                                        .post__comment__description-header.clearfix
                                            a(ui-sref='#', ng-bind="comment.userFirstName + ' ' + comment.userSecondName").post__comment__author-name
                                            span.post__comment__published-date(ng-bind="comment.created")
                                        .post__comment__description-footer
                                            p.post__comment__text(ng-bind="comment.text")
                                    .col-sm-1.col-reset.post__comment__controls(ng-if="comment.userId == meData._id")
                                        .ost__comment__controls_remove(ng-click="removeComment(comment._id, $index, post)")
                                            i.icon-trash
                            .post__create-comment
                                .create-comment__author-image
                                    img(ng-src="{{meData.userpic}}")
                                form.clearfix(ng-submit="newComment($index);")
                                    input(type='text' ng-model="newComment[$index].text" placeholder="Ваш комментарий" required).form-control.add-news__title_input
                                    input(type='submit' value='Отправить')
                    .get-new-videos__btn(ng-click="nextVideosPage();" ng-show="postDanciety.count > postDanciety.length") Показать больше