section.top-entities
    .container.clearfix
        //
          <div class="top-entities__banner-block">
          <span>Место для вашего баннера</span>
          </div>
        //
          <ul class="top-entities__list clearfix">
          <li class="clearfix">
          <div class="list__image">
          <img src="images/list__image1.jpg" alt="">
          </div>
          <div class="list__description">
          <p class="description__name">
          <span ng-bind="'Дарья Самина'"></span>
          </p>
          <p class="description__city">
          <span ng-bind="'Россия'"></span>
          </p>
          <p class="description__work">
          <span ng-bind="'Тренер'"></span>
          </p>
          <p class="description__style">
          <span class="style_title">Стиль:</span>
          <span class="style_style" ng-bind="'Восточные танцы'"></span>
          </p>
          </div>
          </li>
          <li class="clearfix">
          <div class="list__image">
          <img src="images/list__image1.jpg" alt="">
          </div>
          <div class="list__description">
          <p class="description__name">
          <span ng-bind="'Дарья Самина'"></span>
          </p>
          <p class="description__city">
          <span ng-bind="'Россия'"></span>
          </p>
          <p class="description__work">
          <span ng-bind="'Тренер'"></span>
          </p>
          <p class="description__style">
          <span class="style_title">Стиль:</span>
          <span class="style_style" ng-bind="'Восточные танцы'"></span>
          </p>
          </div>
          </li>
          <li class="clearfix">
          <div class="list__image">
          <img src="images/list__image1.jpg" alt="">
          </div>
          <div class="list__description">
          <p class="description__name">
          <span ng-bind="'Дарья Самина'"></span>
          </p>
          <p class="description__city">
          <span ng-bind="'Россия'"></span>
          </p>
          <p class="description__work">
          <span ng-bind="'Тренер'"></span>
          </p>
          <p class="description__style">
          <span class="style_title">Стиль:</span>
          <span class="style_style" ng-bind="'Восточные танцы'"></span>
          </p>
          </div>
          </li>
          <li class="clearfix">
          <div class="list__image">
          <img src="images/list__image1.jpg" alt="">
          </div>
          <div class="list__description">
          <p class="description__name">
          <span ng-bind="'Дарья Самина'"></span>
          </p>
          <p class="description__city">
          <span ng-bind="'Россия'"></span>
          </p>
          <p class="description__work">
          <span ng-bind="'Тренер'"></span>
          </p>
          <p class="description__style">
          <span class="style_title">Стиль:</span>
          <span class="style_style" ng-bind="'Восточные танцы'"></span>
          </p>
          </div>
          </li>
          </ul>
          <div class="top-entities__buttons">
          <div class="buttons_left">
          <i class="fa fa-angle-left"></i>
          </div>
          <div class="buttons_right">
          <i class="fa fa-angle-right"></i>
          </div>
          </div>
          <div class="top-entities_how">
          <a href="#">Как сюда попасть?</a>
          </div>
