<div class="wrapper"><section ng-init="searchPanel = true;" ng-show="searchPanel" class="main-section add-news vacancy-search clearfix"><button type="button" name="button" ng-click="sort = 'date'; changeSortType();" ng-class="{'active': (sort == 'date')}" class="videos__sort-btn">По дате</button><button type="button" name="button" ng-click="sort = 'popular'; changeSortType();" ng-class="{'active': (sort == 'popular')}" class="videos__sort-btn">По популярности</button><!-- <button type="button" name="button" class="search__hide-btn" ng-click="searchPanel = false;">Свернуть</button>--></section><!--<section class="show-search-filter" ng-click="searchPanel = true" ng-hide="searchPanel">
<span>Показать фильтр</span>
</section>--><section class="main-section videos-panel"><ul infinite-scroll="myPagingFunction()" infinite-scroll-distance="0" class="global-photos clearfix"><li ng-repeat="photo in photos"><!--<div class="photo__image-header">
<i class="fa fa-times remove-image" ng-click="removeVideo(video);"></i>
</div>--><div img-liquid="" ng-click="openImage(photo, meData, photos)" class="user-videos__thumb"><img ng-src="{{photo.path}}" alt=""/></div><!-- <youtube-video video-url="video.link" class="new-video__frame"></youtube-video>--><div class="photo__image-info"><div ng-bind="photo.title" class="image-info__name"></div><div class="image-info__buttons clearfix"><!--<div class="image-info__review no-select">
<i class="fa fa-comment"></i>
<span>11</span>
</div>--><div ng-click="likePhoto($index)" class="image-info__like no-select"><span ng-bind="photo.likes"></span><i class="image-info__like-btn"></i></div></div></div></li></ul><!--<div class="danciety-pagination">
<pagination
boundary-links="true"
total-items="40"
max-size="5"
items-per-page="getParams.count"
ng-model="getParams.currentPage"
class="danciety-pagination__list"
previous-text="&lsaquo;"
next-text="&rsaquo;"
first-text="&laquo;"
last-text="&raquo;"
ng-change="changePage();">
</pagination>
</div>--></section></div>