section.info-block.clearfix
    .subscriber__user(ng-repeat='subscriber in SubscibersArray track by $index')
        section.main-section.subscriber-item.clearfix
            .subscriber__photo(ui-sref='#')
                a
                    img(ng-src='{{SERVER.IMAGES_USER}}{{subscriber.image}}')
                .photo__title
                    p.title__name(ng-bind="subscriber.firstName + ' ' + subscriber.secondName")
                    p.title__work(ng-if='subscriber.work[0].company', ng-bind="'„' + subscriber.work[0].company + '”'")
            .subscibers__description
                p.subscribers_years
                    span Возраст
                    span(ng-show='subscriber.age', ng-bind='subscriber.age')
                    span(ng-show='!subscriber.age') не указано
                p.subscribers_styles
                    span.styles_title Стили
                    span.styles_option(ng-show='subscriber.danceStyles.length <= 0') не указано
                    span.styles_option(ng-show='subscriber.danceStyles.length > 0', ng-bind="style.name + ' '", ng-repeat='style in subscriber.danceStyles')
            .subscribers__buttons
                .buttons_write-message(ng-click='openUserMessage(subscriber)')
                    span Написать сообщение
                .buttons_subscribe(ng-hide='meData._id === subscriber._id', ng-if='!subscriber.isFollowing', ng-click="subscribeToUser(subscriber.id, 'subscribe', $index)")
                    i.fa.fa-check
                    span Подписаться
                .buttons_subscribe(ng-hide='meData._id === subscriber._id', ng-if='subscriber.isFollowing', ng-click="subscribeToUser(subscriber.id, 'unsubscribe', $index)")
                    i.fa.fa-times
                    span Отписаться
                a(ui-sref='#')
                    .buttons_subscribe(ng-if='meData._id === subscriber.id')
                        i.fa.fa-desktop
                        span Моя страница
