section.info-block.clearfix
    .subscriber__user(ng-repeat='follower in followersArray track by $index')
        section.main-section.subscriber-item.clearfix
            .subscriber__photo( ui-sref='#')
                a
                    img(ng-src='{{SERVER.IMAGES_USER}}{{follower.image}}')
                .photo__title
                    p.title__name(ng-bind="follower.firstName + ' ' + follower.secondName")
                    p.title__work(ng-if='follower.work[0].company', ng-bind="'„' + follower.work[0].company + '”'")
            .subscibers__description
                p.subscribers_years
                    span Возраст
                    span(ng-show='follower.age', ng-bind='follower.age')
                    span(ng-show='!follower.age') не указано
                p.subscribers_styles
                    span.styles_title Стили
                    span.styles_option(ng-show='follower.danceStyles.length > 0', ng-bind="style.name + ' '", ng-repeat='style in follower.danceStyles')
                    span.styles_option(ng-show='follower.danceStyles.length <= 0') не указано
            .subscribers__buttons
                .buttons_write-message(ng-click='openUserMessage(subscriber)')
                    span Написать сообщение
                .buttons_subscribe(ng-hide='meData._id === follower.id', ng-if='!follower.isFollowing', ng-click="subscribeToUser(follower.id, 'subscribe', $index)")
                    i.fa.fa-check
                    span Подписаться
                .buttons_subscribe(ng-hide='meData._id === follower.id', ng-if='follower.isFollowing', ng-click="subscribeToUser(follower.id, 'unsubscribe', $index)")
                    i.fa.fa-times
                    span Отписаться
                a(ui-sref='#')
                    .buttons_subscribe(ng-if='meData._id === follower.id')
                        i.fa.fa-desktop
                        span Моя страница
