section.user-vacancy
    .col-md-12.col-sm-12.col-reset(ng-init='getAllVacancies();')
        section.main-section.add-news.clearfix(ng-show='user.isMyProfile')
            table.user-vacancy__table
                tbody
                    tr
                        td(colspan='12')
                            input.form-control.user-vacancy__input(type='text', placeholder="Заголовок (по желанию)", data-ng-model='newVacancy.title')
                    tr#datepicker.input-daterange(bootstrap-datepicker='')
                        td(colspan='3')
                            //
                              <input type="text" class="form-control user-vacancy__input" placeholder="{{'Страна' | translate}}" data-ng-model="newVacancy.country" typeahead="address as address.name for address in getCountries($viewValue)" typeahead-loading="loadingLocations">
                            ui-select.jobs__select(ng-model='newVacancy.country', theme='bootstrap', ng-disabled='disabled', reset-search-input='false')
                                ui-select-match(placeholder="Выберите страну") {{$select.selected.name}}
                                ui-select-choices(repeat='country in countries track by $index', refresh='getCountries($select.search)', refresh-delay='0')
                                    div(ng-bind-html='country.name')
                        td(colspan='3')
                            input.form-control.user-vacancy__input(type='text', placeholder="Город", data-ng-model='newVacancy.city')
                        td(colspan='3')
                            input.form-control.user-vacancy__input(type='text', name='start', placeholder="Начало работы", data-ng-model='newVacancy.startDate')
                        td(colspan='3')
                            input.form-control.user-vacancy__input(type='text', name='end', placeholder="Конец работы", data-ng-model='newVacancy.endDate')
                    tr
                        td(colspan='3')
                            input.form-control.user-vacancy__input(type='text', placeholder="Оплата", data-ng-model='newVacancy.price', numbers-only='numbers-only')
                        td
                            input.form-control.user-vacancy__input.currency(type='text', readonly='', value='USD')
                        td(colspan='2')
                        td
                            span.age__label Возраст
                        td
                            input.form-control.user-vacancy__input.age__select.age__from(type='text', numbers-only='numbers-only', placeholder="От", data-ng-model='newVacancy.startAge')
                        td
                            input.form-control.user-vacancy__input.age__select(type='text', numbers-only='numbers-only', placeholder="До", data-ng-model='newVacancy.endAge')
                        td
                            span.age__label Рост
                        td
                            input.form-control.user-vacancy__input.height__select.height__from(type='text', numbers-only='numbers-only', placeholder="От", data-ng-model='newVacancy.startHeight')
                        td
                            input.form-control.user-vacancy__input.height__select(type='text', numbers-only='numbers-only', placeholder="До", data-ng-model='newVacancy.endHeight')
                    tr
                        td(colspan='6')
                            span Танцевальные направления
                        td(colspan='6')
                    tr
                        td(colspan='6')
                            //
                              <tags-input data-ng-model="newVacancy.dances" display-property="name" placeholder="+" key-property="$index">
                              <auto-complete source="loadTags($query)" display-property="name" min-length="1"></auto-complete>
                              </tags-input>
                            .danciety-multiselect(ng-dropdown-multiselect='', search-filter='multiselectModel.filter', options='multiselectModel.data', selected-model='multiselectModel.model', extra-settings='multiselectModel.settings', translation-texts='multiselectModel.translations', events='multiselectModel.modelEvents')
                        td(colspan='6')
                    tr
                        td(colspan='12')
                            textarea.form-control.user-vacancy__textarea(data-type='text', rows='3', placeholder="Подробнее о вакансии (обязательно)", data-ng-model='newVacancy.text')
                    tr
                        td
                            button.user-vacancy__publish-btn(type='button', name='button', ng-click='createNewVacancy();') Опубликовать
        section.main-section.vacancy-panel(ng-repeat='vacancy in allVacancies')
            .post-vacancy__simple.post-panel__author-grid
                .post__author.clearfix
                    .post__author__logo(ui-sref='#')
                        a
                            img(ng-src='{{vacancy.author.userpic}}')
                    .post__author__description
                        .post__author__name
                            a(ui-sref='#', ng-bind="vacancy.author.firstname + ' ' + vacancy.author.secondname")
                        .post__date(ng-bind='vacancy.created')
                        //
                          <div class="post__date" ng-bind="post.created | amCalendar">
                          </div>
                    .post__remove_btn(ng-if='vacancy.author._id === meData._id')
                        i.fa.fa-times.remove-image(ng-click="removeVacancy(vacancy._id, $index, 'pair');")
            .user-vacancy__title(ng-bind='vacancy.title')
            .user-vacancy__text
                p(ng-show='vacancy.country')
                    span.list-title Страна
                    span.list-result(ng-bind='vacancy.country.name')
                p(ng-show='vacancy.city')
                    span.list-title Город
                    span.list-result(ng-bind='vacancy.city')
                p(ng-show='vacancy.scopes.length > 0')
                    span.list-title Сфера
                    span.list-result(ng-bind='vacancy.scopes')
                p(ng-show='vacancy.dances.length > 0')
                    span.list-title Танцевальные направления
                    span.list-result(ng-bind='vacancy.dances')
                p(ng-show='vacancy.price')
                    span.list-title Заработок
                    span.list-result(ng-bind="'от $' + vacancy.price")
                p(ng-show='vacancy.startDate || vacancy.endDate')
                    span.list-title Период работы
                    span.list-result c
                    span.list-result(ng-bind="vacancy.startDate | date: 'dd.MM.yyyy'")
                    span.list-result gj
                    span.list-result(ng-bind="vacancy.endDate | date: 'dd.MM.yyyy'")
                p(ng-show='vacancy.startAge || vacancy.endAge')
                    span.list-title Возраст
                    span.list-result(ng-bind="'от ' + vacancy.startAge + ' до ' + vacancy.endAge")
                p(ng-show='vacancy.startHeight || vacancy.endHeight')
                    span.list-title Рост
                    span.list-result(ng-bind="'от ' + vacancy.startHeight + ' до ' + vacancy.endHeight")
                p(ng-show='vacancy.text')
                    span.list-title Описание
                    span.list-description(ng-bind='vacancy.text')
                .post__control-btns.clearfix
                    .control-btns__share(ng-click='shareVacancy(vacancy)')
                        span Поделиться
                        .share__btn
                            span(ng-bind='vacancy.reposts')
                    .control-btns__like
                        span Круто!
                        .like__btn(ng-click='likeVacancy($index);', ng-class="{'active' : vacancy.isLiked}")
                            span(ng-bind='vacancy.likes')
            .post__comments
                .post__comments-list(ng-show='vacancy.comments.length > 0')
                    //
                      <div class="post__comments-list__show-all">
                      <span ng-bind="'12' + ' ' + 'откликов'"></span>
                      <i class="fa fa-angle-down"></i>
                      </div>
                    ul
                        li.clearfix(ng-repeat='comment in vacancy.comments')
                            .col-md-1.col-sm-1.col-reset.post__comment__image(ui-sref='#')
                                a
                                    img(ng-src='{{comment.author.userpic}}')
                            .col-md-10.col-sm-10.col-reset.post__comment__description
                                .post__comment__description-header.clearfix
                                    a.post__comment__author-name(ui-sref='#', ng-bind="comment.author.firstname + ' ' + comment.author.secondname")
                                    span.post__comment__published-date(ng-bind='comment.created')
                                    // <a href="" ng-if="comment.author._id == meData._id" class="post__comment__remove-btn"
                                    // ng-click="removeComment(comment._id, $index, $parent.$parent.$index)">удалить</a>
                                .post__comment__description-footer
                                    p.post__comment__text(ng-bind='comment.text')
                            .col-md-1.col-sm-1.col-reset.post__comment__controls(ng-if='comment.author._id == meData._id')
                                .post__comment__controls_remove(ng-click='removeVacancyComment(comment._id, $index, vacancy)')
                                    i.fa.fa-trash
                                //
                                  <div class="post__comment__controls_edit">
                                  <i class="fa fa-pencil"></i>
                                  </div>
                .jobs__create-comment(ng-hide='vacancy.author._id == meData._id')
                    .create-comment__author-image
                        img(ng-src='{{meData.userpic}}')
                    form.clearfix(name='commentForm', ng-submit='newVacancyComment($index);')
                        input.form-control.add-news__title_input(type='text', name='comment', ng-model='newComment[$index]', placeholder="Сообщение работодателю (по желанию)", required='')
                        input(type='submit', value="Откликнуться на вакансию")
