section.resume-page__about-me.clearfix(ng-show='!editMode', ng-init='editMode = false;')
    .resume-page__container
        .clearfix
            p.resume-page__about-me__title.pull-left О себе
            .resume-page__edit-mode.pull-right(ng-show='user.isMyProfile', ng-click='editMode = true;')
                i.fa.fa-pencil Изменить
        p.resume-page__about-me__text(ng-bind='user.preferences.additionally')
    .resume-page__container
        .resume-page__contacts.clearfix
            .col-md-6.col-sm-6.col-reset(ng-if='user.phone || user.country || user.website || user.city || user.cv_email')
                p.resume-page__about-me__title Контактная информация
                table.resume-page__contacts__table
                    tr
                        th
                            span.resume-page__contacts__label
                                i.fa.fa-phone-square
                            span.resume-page__contacts__text(ng-bind="user.phone || 'не указано'")
                        th
                            span.resume-page__contacts__label Страна
                            span.resume-page__contacts__text(ng-bind="user.country.name || 'не указано'")
                    tr
                        th
                            span.resume-page__contacts__label
                                i.fa.fa-globe
                            span.resume-page__contacts__text(ng-bind="user.website || 'не указано'")
                        th
                            span.resume-page__contacts__label Город
                            span.resume-page__contacts__text(ng-bind="user.city || 'не указано'")
                    tr
                        th
                            span.resume-page__contacts__label
                                i.fa.fa-envelope
                            span.resume-page__contacts__text(ng-bind="user.cv_email || 'не указано'")
                        th
            .col-md-6.col-sm-6.col-reset
                p.resume-page__about-me__title Персональные данные
                table.resume-page__contacts__table
                    tr
                        td
                            span.resume-page__contacts__label Пол
                            span.resume-page__contacts__text(ng-if='user.personalData.male == true') Мужской
                            span.resume-page__contacts__text(ng-if='user.personalData.male !== true') Женский
                        td
                            span.resume-page__contacts__label Параметры
                            span.resume-page__contacts__text(ng-bind="user.personalData.params || 'не указано'")
                    tr
                        td
                            span.resume-page__contacts__label Возраст
                            span.resume-page__contacts__text(ng-bind="user.personalData.age || 'не указано'")
                        td
                            span.resume-page__contacts__label Цвет глаз
                            span.resume-page__contacts__text(ng-bind="user.personalData.eyesColor || 'не указано'")
                    tr
                        td
                            span.resume-page__contacts__label Рост
                            span.resume-page__contacts__text(ng-bind="user.personalData.height + ' см'")
                        td
                            span.resume-page__contacts__label Цвет волос
                            span.resume-page__contacts__text(ng-bind="user.personalData.hairColor || 'не указано'")
                    tr
                        td
                            span.resume-page__contacts__label Вес
                            span.resume-page__contacts__text(ng-bind="user.personalData.weight + ' кг'")
                        td
                            span.resume-page__contacts__label Гражданство
                            span.resume-page__contacts__text(ng-bind="user.personalData.nationality || 'не указано'")
    .resume-page__dance-direction
        .resume-page__container
            p.resume-page__about-me__title Танцевальные направления
            span.dance-direction__text(ng-repeat='style in user.danceStyles', ng-bind='style.name')
    .resume-page__payment
        .resume-page__container
            p.resume-page__about-me__title Оплата
            p(ng-repeat='q in payments')
                span.resume-page__payment__label(ng-bind="q.name + ':'")
                span.resume-page__payment__text(ng-bind='q.price')
                span.resume-page__payment__text USD
section.resume-page__work.clearfix(ng-show='!editMode')
    .resume-page__container.clearfix
        p.resume-page__about-me__title Работа
        .resume-page__work_list
            .resume-page__work_list__item.clearfix(ng-repeat='work in user.works track by $index', ng-show='user.works.length > 0')
                .col-md-6.col-sm-6.col-reset
                    //
                      <p>
                      <span class="resume-page__contacts__label" ng-bind="work.company"></span>
                      </p>
                    p
                        span.resume-page__contacts__label Место
                        span.resume-page__contacts__text(ng-bind='work.place')
                    p
                        span.resume-page__contacts__label Период работы
                        span с
                        span.resume-page__contacts__text(ng-bind="work.start | date: 'dd.MM.yyyy'")
                        span по
                        span.resume-page__contacts__text(ng-bind="work.end | date: 'dd.MM.yyyy'")
                .col-md-6.col-sm-6.col-reset
                    p
                        span.resume-page__contacts__label Должность
                        span.resume-page__contacts__text(ng-bind='work.job')
section.resume-page__study.clearfix(ng-show='!editMode')
    .resume-page__container
        p.resume-page__about-me__title Образование
        .resume-page__work_list
            .resume-page__work_list__item.clearfix(ng-repeat='study in user.studys', ng-show='user.studys.length > 0')
                .col-md-6.col-sm-6.col-reset
                    //
                      <p>
                      <span class="resume-page__contacts__label" ng-bind="study.university"></span>
                      </p>
                    p
                        span.resume-page__contacts__label Место
                        span.resume-page__contacts__text(ng-bind='study.place')
                    p
                        span.resume-page__contacts__label Учебный период
                        span.resume-page__contacts__text с
                        span.resume-page__contacts__text(ng-bind="study.start | date: 'dd.MM.yyyy'")
                        span.resume-page__contacts__text по
                        span.resume-page__contacts__text(ng-bind="study.end | date: 'dd.MM.yyyy'")
                .col-md-6.col-sm-6.col-reset
                    p
                        span.resume-page__contacts__label Специальность
                        span.resume-page__contacts__text(ng-bind='study.direction')
section.resume-page__about-me.clearfix(ng-show='editMode')
    .resume-page__container
        .clearfix
            p.resume-page__about-me__title.pull-left О себе
            .resume-page__edit-mode.pull-right(ng-click='editMode = false;')
                i.fa.fa-pencil Просмотр
        textarea.resume-page__about-me__text__edit-mode.form-control(ng-model='user.preferences.additionally', write-field='changePreferences()')
    .resume-page__container
        .resume-page__contacts.clearfix
            .col-md-6.col-sm-6.col-reset
                p.resume-page__about-me__title Контактная информация
                table.resume-page__contacts__table
                    tr
                        td
                            span.resume-page__contacts__label
                                i.fa.fa-phone-square
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.phone', write-field='changeInfo()')
                        td
                            span.resume-page__contacts__label Страна
                            // <input class="resume-page__contacts__text__edit-mode form-control" type="text" ng-model="user.country" write-field="changeInfo()">
                            ui-select.group-resume_input(ng-model='user.country', theme='bootstrap', ng-change='changeInfo()', ng-disabled='disabled', reset-search-input='false')
                                ui-select-match(placeholder="Введите страну") {{$select.selected.name}}
                                ui-select-choices(repeat='country in countries track by $index', refresh='getCountries($select.search)', refresh-delay='0')
                                    //div(ng-bind-html='country.name | highlight: $select.search')
                    tr
                        td
                            span.resume-page__contacts__label
                                i.fa.fa-globe
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.website', write-field='changeInfo()')
                        td
                            span.resume-page__contacts__label Город
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.city', write-field='changeInfo()')
                    tr
                        td
                            span.resume-page__contacts__label
                                i.fa.fa-envelope
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.cv_email', write-field='changeInfo()')
                        td
            .col-md-6.col-sm-6.col-reset
                p.resume-page__about-me__title Персональные данные
                table.resume-page__contacts__table
                    tr
                        td
                            span.resume-page__contacts__label Пол
                            //
                              <button type="button" class="btn btn-default" ng-model="user.personalData.male" data-html="1" bs-options="male.id as male.name for male in personal.maleHelper" bs-select  write-field="changePersonal()">
                              </button>
                            ui-select.user-resume_select(ng-model='user.personalData.male', theme='bootstrap', ng-disabled='disabled', reset-search-input='false', on-select='changePersonal();')
                                ui-select-match(placeholder="Введите стили") {{$select.selected.name}}
                                //ui-select-choices(repeat='male.id as male in personal.maleHelper track by $index')
                                    div(ng-bind-html='male.name | highlight: $select.search')
                            //
                              <span class="resume-page__contacts__text" ng-bind="'Мужской' | translate" ng-if="user.personalData.male == true"></span>
                              <span class="resume-page__contacts__text" ng-bind="'Женский' | translate" ng-if="user.personalData.male !== true"></span>
                        td
                            span.resume-page__contacts__label Параметры
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.personalData.params', write-field='changePersonal()')
                    tr
                        td
                            span.resume-page__contacts__label Возраст
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.personalData.age', write-field='changePersonal()')
                        td
                            span.resume-page__contacts__label Цвет глаз
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.personalData.eyesColor', write-field='changePersonal()')
                    tr
                        td
                            span.resume-page__contacts__label Рост
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.personalData.height', write-field='changePersonal()')
                        td
                            span.resume-page__contacts__label Цвет волос
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.personalData.hairColor', write-field='changePersonal()')
                    tr
                        td
                            span.resume-page__contacts__label Вес
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.personalData.weight', write-field='changePersonal()')
                        td
                            span.resume-page__contacts__label Гражданство
                            input.resume-page__contacts__text__edit-mode.form-control(type='text', ng-model='user.personalData.nationality', write-field='changePersonal()')
    .resume-page__dance-direction
        .resume-page__container.clearfix
            p.resume-page__about-me__title Танцевальные направления
            // <span class="dance-direction__text" ng-repeat="style in user.danceStyles" ng-bind="style.name"></span>
            .row(ng-repeat='style in user.danceStyles')
                .col-md-11
                    ui-select.dance-direction__edit-mode.col-md-12(ng-model='style', theme='bootstrap', ng-disabled='disabled', reset-search-input='false')
                        ui-select-match(placeholder="Введите стили") {{$select.selected.name}}
                        //ui-select-choices(repeat='style in styles track by $index', refresh='loadTags($select.search)', refresh-delay='0')
                            div(ng-bind-html='style.name')
                .col-md-1
                    p.style__remove(ng-click='removeStyle($index);', tooltip-placement='top', tooltip='Удалить')
                        i.fa.fa-times
            ui-select.dance-direction__edit-mode.col-md-12(ng-model='user.newStyle', theme='bootstrap', ng-disabled='disabled', reset-search-input='false', on-select='addNewStyle(user.newStyle)')
                ui-select-match(placeholder="Введите стили") {{$select.selected.name}}
                //ui-select-choices(repeat='style in styles track by $index', refresh='loadTags($select.search)', refresh-delay='0')
                    div(ng-bind-html='style.name | highlight: $select.search')
    .resume-page__payment
        .resume-page__container.clearfix
            p.resume-page__about-me__title Оплата
            .payment-grid.clearfix(ng-repeat='q in payments')
                .col-md-6
                    ui-select.dance-payment-select__edit-mode(ng-model='q', theme='bootstrap', ng-disabled='disabled', reset-search-input='false', on-select='putPayments()')
                        ui-select-match(placeholder="Введите тип оплаты") {{$select.selected.name}}
                        //ui-select-choices(repeat='payment in payments track by $index', refresh='loadTags($select.search)', refresh-delay='0')
                            div(ng-bind-html='payment.name')
                .col-md-5
                    .input-group
                        .input-group-addon $
                        input.resume-page__payment__text__edit-mode.form-control(type='text', ng-model='q.price', write-field='putPayments()')
                        .input-group-addon .00
                .col-md-1
                    p.payment__remove(ng-click='deletePaymentsField($index);', tooltip-placement='top', tooltip='Удалить')
                        i.fa.fa-times
            .payment-grid.clearfix
                .col-md-12
                    ui-select.dance-payment-select__edit-mode(ng-model='user.newPayment', theme='bootstrap', ng-disabled='disabled', reset-search-input='false', on-select='addNewPayment(user.newPayment)')
                        ui-select-match(placeholder="Тип оплаты") {{$select.selected.name}}
                        //ui-select-choices(repeat='payment in availablePayments track by $index', refresh='loadTags($select.search)', refresh-delay='0')
                            div(ng-bind-html='payment.name | highlight: $select.search')
section.resume-page__work.clearfix(ng-show='editMode')
    .resume-page__container.clearfix
        p.resume-page__about-me__title Работа
        .resume-page__work_list
            .resume-page__work_list__item.clearfix(ng-repeat='work in user.work track by $index', ng-show='user.work.length > 0')
                .col-md-6.col-sm-6.col-reset.clearfix
                    //
                      <div class="form-group">
                      <label for="exampleInputEmail1">{{'Компания' | translate}}
                      <span class="delete-work-field" ng-click="deleteWorkField($index);">Удалить</span>
                      </label>
                      <input type="text" class="form-control" id="exampleInputEmail1" ng-model="work.company" write-field="changeWork()">
                      </div>
                    .form-group
                        label(for='exampleInputPassword2') Место
                        input#exampleInputPassword2.form-control(type='text', ng-model='work.place', write-field='changeWork()')
                    .form-group
                        label(for='exampleInputPassword1') Период работы
                        input#exampleInputEmail1.form-control.date-picker(date-range-picker='', type='text', ng-model='work.date', ng-change='changeWork()')
                .col-md-6.col-sm-6.col-reset.clearfix
                    .form-group
                        label(for='exampleInputEmail2') Должность
                        input#exampleInputEmail2.form-control(type='text', ng-model='work.job', write-field='changeWork()')
            .col-md-6.col-sm-6.col-reset.clearfix
                button.btn.btn-success(ng-click='addWorkField();') Добавить
section.resume-page__study.clearfix(ng-show='editMode')
    .resume-page__container.clearfix
        p.resume-page__about-me__title Образование
        .resume-page__work_list
            .resume-page__work_list__item.clearfix(ng-repeat='study in user.study track by $index', ng-show='user.study.length > 0')
                .col-md-6.col-sm-6.col-reset.clearfix
                    //
                      <div class="form-group">
                      <label for="exampleInputEmail1">{{'Учебное заведение' | translate}}
                      <span class="delete-work-field" ng-click="deleteStudyField($index);">Удалить</span>
                      </label>
                      <input type="text" class="form-control" id="exampleInputEmail1" ng-model="study.university" write-field="changeStudy()">
                      </div>
                    .form-group
                        label(for='exampleInputPassword2') Место
                        input#exampleInputPassword2.form-control(type='text', ng-model='study.place', write-field='changeStudy()')
                    .form-group
                        label(for='exampleInputPassword1') Учебный период
                        input#exampleInputEmail1.form-control.date-picker(date-range-picker='', type='text', ng-model='study.date', ng-change='changeStudy()')
                .col-md-6.col-sm-6.col-reset.clearfix
                    .form-group
                        label(for='exampleInputEmail2') Специальность
                        input#exampleInputEmail2.form-control(type='text', ng-model='study.direction', write-field='changeStudy()')
            .col-md-6.col-sm-6.col-reset.clearfix
                button.btn.btn-success(ng-click='addStudyField();') Добавить
