.wrapper.clearfix
    .group-cart__list
        section.group-cart.clearfix(ng-repeat='group in groupList')
            .group-carts__photo(ui-sref='#')
                a
                    img(ng-src='{{group.photo}}')
                .group-carts__title
                    p.title__name(ng-bind='group.name')
                    p.title__work(ng-bind='groupTypes[group.groupType]')
            .group-carts__footer
                .group-carts__subscribers
                    span.group-carts__subscribers__label Подписчиков:
                    span.group-carts__subscribers__text(ng-bind='group.membersCount')
                .subscribe-btn__check(ng-if='!group.dick && meData._id !== group.creator._id', ng-click='subscribeToGroup(group, true)')
                    i.fa.fa-check
                    span Подписаться
                .subscribe-btn__check(ng-if='group.dick && meData._id !== group.creator._id', ng-click='subscribeToGroup(group, false)')
                    i.fa.fa-times
                    span Отписаться
                .subscribe-btn__check(ng-if='meData._id == group.creator._id', ng-click='deleteGroup(group);')
                    // <i class="fa fa-times"></i>
                    span Удалить страницу
