.select-video_modal
    .select-image_modal__header
        .select-image_modal__title Добавить фотографии
        .close-modal
            i.fa.fa-times(ng-click='cancel();')
    ul.select-video-modal__user-videos.clearfix
        li(ng-repeat='video in photoList')
            .select-video_modal__list__header(ng-class='{active: video.selectImage}', ng-click='selectImage($index)')
                i.fa.fa-check.check-image
            .user-videos__thumb(img-liquid='', ng-click='openVideo(video);')
                img(src='{{video.thumb}}')
            // <youtube-video video-url="video.link" class="new-video__frame"></youtube-video>
            .photo__image-info
                .image-info__name(ng-bind='video.title')
                .image-info__buttons.clearfix
                    //
                      <div class="image-info__review no-select">
                      <i class="fa fa-comment"></i>
                      <span>11</span>
                      </div>
                    .image-info__like.no-select(ng-click='likeVideo($index)')
                        span(ng-bind='video.likes')
                        i.image-info__like-btn
    //
      <ul class="select-image_modal__list">
      <li data-ng-repeat="photo in photoList" ng-click="selectImage($index)">
      <div class="select-image_modal__list__header" ng-class="{active: photo.selectImage}">
      <i class="fa fa-check check-image"></i>
      </div>
      <div class="select-image_modal__list__image" img-liquid>
      <img ng-src="{{danceConfig.uploadFolder}}{{photo.path.middle300}}" alt="">
      </div>
      <div class="select-image_modal__list-info">
      </div>
      </li>
      </ul>
    .select-image_modal__footer
        button.btn.success(ng-click='ok()') Готово
        button.btn.cancel(ng-click='cancel();') Отмена